main {

}
.start__section--container {
    margin: 20px;
    
}

.start__display--container {
    display: flex;
    justify-content: space-around;
    background-color: var(--Primary-Stone-White);
}

.start__header--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__content--style, .header__title--style {
    font-weight: bold;
}

.header__title--style {
    color: var(--Accent-Dark-Orange);
    text-decoration: underline;
    margin-bottom:0;
}

.header__content--style {
    color: var(--Primary-Black);
    margin-top: 3px;
}

.header__text--style {
    color: var(--Primary-Stone-White);
}

/*Conversation section*/
.conversation__header--style, .thoughts__header--style {
    color:var(--Accent-Dark-Orange);
}

.conversation__title--style {
    color:var(--Primary-Stone-White);
}

.conversation__header--style, .conversation__title--style {
    text-align: center;
    margin-top:2px;
    margin-bottom: 2px;
}

.conversation__content--style {
    background-color: var(--Primary-Stone-White);
    padding:10px;
    font-size: small;
    
}

.thoughts__header--style {
    text-align: center;
}

.thoughts__textarea--style {
    padding: 10px;
}

.thoughts__button--container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.thoughts__button--style {
    padding: 5px 30px;
    font-weight: bold;
    background-color: var(--Accent-Dark-Orange);
    color: var(--Primary-Stone-White);
    letter-spacing: 1px;
    border: none;
}

.thoughts__button--style, .thoughts__textarea--style, .conversation__content--style, .start__display--container {
    border-radius: 10px;
}